.page-slider {
	margin-bottom: 40px;

	&--container {
		margin: 0 auto;
		max-width: 720px;
	}
}

li.slider__dots-item.__custom {
	vertical-align: middle;
	cursor: pointer;
	padding: 5px;
}

// .slider__wrapper {
// 	border: solid 1px rgba(#FFD927, 0.3);
// }

.thumbs {
	max-width: 500px;
	margin: 30px auto;
	padding: 0 100px;
	position: relative;

	.btn-prev, .btn-next {
		position: absolute;
		top: 25px;
		font-size: 50px;
		color: #BBBBBB;
		cursor: pointer;
	}

	.btn-prev {
		left: 25px;
	}
	.btn-next {
		right: 25px;
	}
}

.slider__stage-item.__active {
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 2px;
		left: 2px;
		right: 2px;
		bottom: 2px;
		border: solid 1px transparent;
		transition: border .8s;
	}
}

// .slider__stage-item.__target {
// 	&:after {
// 		border: solid 1px rgba(#FFD927, 0.8);
// 	}
// }

.thumb, .thumb > .slide {
	max-width: 800px;
	width: 200;
}

.slide {
	height: auto;
	padding: 2px;
	box-sizing: border-box;
	font-size: 0;
	color: transparent;

	img {
		max-width: 100%;
	}
}
