#Hero {
  padding: 40px;
}

#Hero--headline {
  font-size: 100px;
  line-height: 100px;
  margin: 40px auto;
  width: 600px;
  font-weight: 900;
}

#Hero--sub {
  font-size: 32px;
  line-height: 54px;
  margin: 40px auto 80px auto;
  width: 800px;
}

#Hero--cta {
  background-color: #ffd927;
  border: 0px;
  font-size: 24px;
  font-weight: 900;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  padding: 20px 60px;
  outline: none;
  cursor: pointer;
}

#Hero--cta:hover {
  background-color: #ffd000;
  outline: none;
}

#Hero--tip {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
