#Header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#Header--logo {
  text-align: left;
}

#Header--logo a {
  text-decoration: none;
  color: #444;
  padding: 0 40px;
  line-height: 90px;
  display: block;
  font-size: 24px;
  font-weight: 700;
}

#Header--logo a:hover {
  color: #000;
}

#Header--navigation {
  margin-right: 40px;
  text-align: left;
}

#Header--navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#Header--navigation ul li {
  padding: 25px 10px;
  display: block;
}

#Header--navigation ul li a {
  padding: 0;
  line-height: 40px;
  display: block;
  color: #444;
  font-weight: 800;
  text-decoration: none;
}

#Header--navigation ul li a:hover {
  color: #000;
}

#Header--navigation ul li a.button {
  line-height: 38px;
  border: 1px solid #888;
  padding: 0 16px;
}

#Header--navigation ul li a.button:hover {
  background-color: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
  text-decoration: none;
}