#AnnouncementText {
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border: none;
  line-height: 20px;
  text-align: center;
  color: #fff;
}