input#AnnouncementEditor {
  width: calc(100% - 20px);
  background-color: transparent;
  outline: 1px dotted rgba(255, 255, 255, .5);
  font-size: 16px;
  font-weight: 600;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border: none;
  line-height: 18px;
  text-align: center;
  color: #fff;
}

input#AnnouncementEditor:focus {
  outline: 1px dotted rgba(255, 255, 255, 1);
}
